<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Account</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/shared.js}"></script>
<body>
<div class="main">
    <div id="header"><button id = "menu_button" onclick="openMenu()"></button></div>
    <div id="menu">
        <p class="menu_point"><a th:href="@{'/'}">Поиск блюд</a></p> <br/>
        <p class="menu_point"><a th:href="@{'/account'}">Личный кабинет</a></p>
    </div>
    <div id="content">
        <p th:text="'Логин: '+${userInfo.login}">text</p>
        <p th:text="'Пароль: '+${userInfo.password}">text</p>
        <div th:switch="${userInfo.isPayed}">
            <p th:case="true" th:text="'Дата окончания подписки: '+${userInfo.expireDate}"></p>
            <p th:case="*" th:text="'Купи подписку!'"></p>
        </div>
    </div>
</div>
</body>
</html>