<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/auth.css}"/>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script>
    function openMenu() {
        var menu = $('#menu')[0];
        if(menu.style.display == 'none') {
            console.dir(menu);
            menu.style.display = 'block';
        } else {
            menu.style.display = 'none';
        }
    }

    function checkAuth(e) {
        var $form = $('#auth_form');
        var status = null;
        var login = $form[0][0].value;
        var password = $form[0][1].value;
        var info = {
            "login": login,
            "password": password
        };
        $.ajax({
            type: $form.attr('method'),
            url: $form.attr('action'),
            data: JSON.stringify(info),
            contentType: "application/json",
            async: false,
            success: function (data) {
                status = JSON.parse(data).code[0];
            }
        });
        if(status == 200) {
            window.location.href = "/account?login=" + login;
        } else {
            alert("fail");
        }
        e.preventDefault();
    }
</script>
<body>
<div class="main">
    <div id="header"><button id = "menu_button" onclick="openMenu()"></button></div>
    <div id="menu">
        <p class="menu_point"><a th:href="@{'/'}">Поиск блюд</a></p> <br/>
    </div>
    <div id="content">
        <form id="auth_form" method="post" action="/login" onsubmit="checkAuth(event)">
            <p class="form_field">
                <span>Логин</span> <br/>
                <input type="text" name="login"/>
            </p>
            <p class="form_field">
                <span>Пароль</span><br/>
                <input type="text" name="password">
            </p>
            <p class="submit">
                <button type="submit" name="Найти">Поиск</button>
            </p>
        </form>
    </div>
</div>
</body>
</html>