<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Search</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script>
    function openMenu() {
        var menu = $('#menu')[0];
        if(menu.style.display == 'none') {
            console.dir(menu);
            menu.style.display = 'block';
        } else {
            menu.style.display = 'none';
        }
    }
</script>
<body>
<div class="main">
    <div id="header"><button id = "menu_button" onclick="openMenu()"></button></div>
    <div id="menu">
        <p class="menu_point"><a th:href="@{'/'}">Поиск блюд</a></p> <br/>
        <p class="menu_point"><a th:href="@{'/account'}">Личный кабинет</a></p>
    </div>
    <div id="content">
        <ul>
            <li th:each="p : ${productList}" th:text="${p}">user name</li>
        </ul>
    </div>
</div>
</body>
</html>