<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Reg</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/auth.css}"/>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/shared.js}"></script>
<body>
<div class="main">
    <div id="header"><button id = "menu_button" onclick="openMenu()"></button></div>
    <div id="menu">
        <p class="menu_point"><a th:href="@{'/'}">Поиск блюд</a></p> <br/>
    </div>
    <div id="content">
        <form id="auth_form" method="post" action="/login" onsubmit="checkAuth(event)">
            <p class="form_field">
                <span>Логин</span> <br/>
                <input type="text" name="login"/>
            </p>
            <p class="form_field">
                <span>Пароль</span><br/>
                <input type="text" name="password">
            </p>
            <p class="submit">
                <button type="submit" name="Найти">Зарегистрировать</button>
            </p>
        </form>
    </div>
</div>
</body>
</html>